header {
    position: relative;
    background: rgb(18, 36, 73);
    background: radial-gradient(circle, rgb(24, 46, 90) 0%, rgb(4, 10, 27) 75%);
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    /* padding-bottom: 20vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

header>h2~a {
    z-index: 100;
    width: fit-content;
    height: fit-content;
    background-color: rgb(45, 67, 128);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

header>h2~a>h1 {
    font-size: 1.2em;
    color: white;
}

header>h2, header>h3 {
    color: white;
    margin: 2em;
}

header>.download {
    height: 96px;
    display: flex;
    flex-direction: row;
}

header>.download>a {
    height: 100%;
    width: 50%;
}

header>.download>a:first-child {
    margin-right: 64px;
}

header>.download>a>div {
    height: 100%;
    width: 100%;
}

header>.download>a>div>img {
    height: 100%;
    width: auto;
}

header>.countdown {
    /* background-color: #ffffff23; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 64px;
    z-index: 1;
}

header>.countdown>* {
    margin: 0;
    color: #fff;
}

@media screen and (max-width: 440px) {
    header>.countdown>h2 {
        font-size: 18px;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    header>.countdown>h2 {
        font-size: 14px;
    }
}

header>.countdown>p {
    font-size: 24px;
    margin: 8px 0 20px 0;
    text-align: center;
}

header>.countdown>.clock {
    margin: 8px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header>.countdown>.clock>div:not(:last-child) {
    margin-right: 12px;
}
header>.countdown>.clock>div>p {
    margin: 0;
}

header>.countdown>a {
    text-decoration: none;
}
header>.countdown>a>div {
    text-decoration: none;
    padding: 8px 20px;
    background-color: #fff;
    color: #111;
    font-weight: 500;
    transition: 0.1s all ease-in-out;
    border-radius: 8px;
}
header>.countdown>a>div:hover {
    background-color: #005155;
    color: #fff;
}

.hidden {
    display: none !important;
}

.apptitle {
    color: white;
    font-size: 3em;
}

.baseline {
    color: white;
    font-size: 2em;
    z-index: 100;
    text-align: center;
}

/* 
.baseline span {
    font-weight: 700;
    background: linear-gradient(90deg, rgb(134, 150, 243) 0%, rgb(253, 155, 245) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.wave {
    position: absolute;
    height: 100vh;
    left: -10vw;
    pointer-events: none;
}

.wave2 {
    position: absolute;
    right: -50vw;
    pointer-events: none;
}

.bottomwave {
    position: absolute;
    height: 20vh;
    width: 100vw;
    bottom: -1px;
    pointer-events: none;
}

.downarrows {
    width: 5em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1em;
    margin-bottom: 8vh;
    animation: downarrow 3s infinite ease-in-out;
}

.downarrows span {
    width: 2em;
    height: 0.3em;
    background-color: white;
    transform: rotate(45deg);
    margin: -6px;
    border-radius: 2em;
}

.downarrows span:last-child {
    transform: rotate(-45deg);
}

@keyframes downarrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 98vh;
        padding-bottom: 1em;
        justify-content: space-evenly;
    }
    .apptitle {
        font-size: 2em;
    }
    .bottomwave {
        height: 5em;
    }
    .downarrows {
        margin-bottom: 13vh;
    }
    header>h2, header>h3 {
        color: white;
        margin: 0;
        padding: 1em;
        width: 90%;
    }
    header .animatedlogo {
        max-width: 11em;
        max-height: 11em;
        width: 20vh;
        height: 20vh;
    }
    .wave {
        left: -10vw;
    }
    .baseline {
        font-size: 1.7em;
    }
}
