header {
    position: relative;
    background: rgb(18, 36, 73);
    background: radial-gradient(circle, rgb(24, 46, 90) 0%, rgb(4, 10, 27) 75%);
    width: 100vw;
    max-width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

header>h2~a {
    z-index: 100;
    width: fit-content;
    height: fit-content;
    background-color: rgb(45, 67, 128);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

header>h2~a>h1 {
    font-size: 1.2em;
    color: white;
}

header>h2, header>h3 {
    color: white;
    margin: 2em;
}

.apptitle {
    color: white;
    font-size: 3em;
}

.baseline {
    color: white;
    font-size: 2em;
    z-index: 100;
    text-align: center;
}

/* 
.baseline span {
    font-weight: 700;
    background: linear-gradient(90deg, rgb(134, 150, 243) 0%, rgb(253, 155, 245) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.wave {
    position: absolute;
    height: 100vh;
    left: -10vw;
}

.wave2 {
    position: absolute;
    right: -50vw;
}

.bottomwave {
    position: absolute;
    height: 20vh;
    width: 100vw;
    bottom: -1px;
}

.downarrows {
    width: 5em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1em;
    margin-bottom: 8vh;
    animation: downarrow 3s infinite ease-in-out;
}

.downarrows span {
    width: 2em;
    height: 0.3em;
    background-color: white;
    transform: rotate(45deg);
    margin: -6px;
    border-radius: 2em;
}

.downarrows span:last-child {
    transform: rotate(-45deg);
}

@keyframes downarrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 110vh;
    }
    .bottomwave {
        height: 5em;
    }
    header .animatedlogo {
        width: 14em;
        height: 14em;
    }
    .wave {
        left: -10vw;
    }
}