.mockupshow img {
    width: 45%;
    max-width: 400px;
    /* z-index: 200; */
}

.mockupshow {
    max-width: 950px;
    display: flex;
    align-items: center;
    padding: 5em;
    justify-content: space-around;
}

.mockupshow h1 {
    font-size: 2em;
}

.mockupshow:nth-of-type(1) h1 span {
    background: linear-gradient(90deg, #6863ff 0%, #ff71d9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mockupshow:nth-of-type(2) h1 span {
    background: linear-gradient(90deg, rgb(250, 117, 217) 0%, rgb(65, 115, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mockupshow:nth-of-type(3) h1 span {
    background: linear-gradient(90deg, rgb(22, 176, 248) 0%, rgb(245, 120, 234) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.likeskipshow {
    max-width: 950px;
    display: flex;
    align-items: center;
    padding: 2em;
    justify-content: center;
}

.likeskipshow img {
    width: 40%;
    margin: 2em;
}

.likeskipshow img {
    height: auto;
    width: 20%;
}

.likeskipshow h1 {
    width: 420px;
}

.likeskipshow:nth-of-type(3) h1 span {
    background: linear-gradient(90deg, rgb(248, 22, 173) 0%, rgb(47, 17, 218) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.likeskipshow:nth-of-type(4) h1 span {
    background: linear-gradient(90deg, rgb(171, 84, 252) 0%, rgb(240, 68, 154) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mockupshow:nth-of-type(5) h1 span:first-child a {
    color: #1DB954;
    text-decoration: none;
}

.mockupshow:nth-of-type(5) h1 span:last-child a {
    color: #f769fc;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .mockupshow {
        padding: 1.5em;
        flex-direction: column;
    }
    .mockupshow h1{
        font-size: 1.5em;
        margin-bottom: 1em;
        text-align: center;
    }
    .mockupshow img {
        width: 70vw;
        z-index: 100;
        margin: 0em;
        min-width: 200px;
    }
    .mockupshow:nth-of-type(2) {
        flex-direction: column-reverse;
    }
    .likeskipshow:nth-of-type(3) {
        margin-top: 6em;
    }
    .likeskipshow {
        padding: 0.85em 2em;
        align-items: center;
        flex-direction: column-reverse;
    }
    .likeskipshow img {
        width: 2.5em;
        min-width: 130px;
    }
    .likeskipshow h1 {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 1.3em;
        text-align: justify;
    }
}

