
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.downloadapp {
    height: 5em;
    width: 100%;
    z-index: 200;
    background-color: white;
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    box-shadow: 0px 0px 14px 3px #00000021;
    display: flex;
    align-items: center;
}

.downloadapp a {
    height: 40%;
    margin-left: 1em;
}

.downloadapp a img {
    height: 100%;
}

.downloadapp .animatedlogo {
    height: 4em;
    width: 4em;
    margin-left: 1em;
}

main {
    background-color: white;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.app-description {
    position: relative;
    width: 100%;
    height: 25em;
    background: rgb(18, 36, 73);
    background: radial-gradient(circle, rgb(18, 36, 73) 0%, rgb(4, 10, 27) 75%);
    display: flex;
    align-items: center;

}

.app-description svg:first-child {
    position: absolute;
    top: 0;
    height: 15em;
    width: 100%;
}
.app-description svg:last-child {
    position: absolute;
    bottom: 0;
    height: 10em;
    width: 100%;
}

.app-description h3 {
    color: white;
    margin: auto;
    padding: 10em;
    max-width: 1000px;
    text-align: justify;
}