
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.downloadapp {
    height: 5em;
    width: 100%;
    z-index: 200;
    background-color: white;
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    box-shadow: 0px 0px 14px 3px #00000021;
    display: flex;
    align-items: center;
}

.downloadapp a {
    height: 40%;
    margin-left: 1em;
}

.downloadapp a img {
    height: 100%;
}

.downloadapp .animatedlogo {
    height: 4em;
    width: 4em;
    margin-left: 1em;
}

main {
    background-color: white;
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.app-description {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 7em;
    padding-bottom: 7em;
    min-height: 15em;
    background: rgb(18, 36, 73);
    background: radial-gradient(circle, rgb(18, 36, 73) 0%, rgb(4, 10, 27) 75%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.app-description svg:first-child {
    position: absolute;
    top: 0;
    height: 15em;
    width: 100%;
}
.app-description svg:last-child {
    position: absolute;
    bottom: 0;
    height: 10em;
    width: 100%;
}

.app-description h3 {
    margin: 0;
    color: white;
    margin: 1em;
    max-width: 700px;
    text-align: justify;
    font-weight: 400;

}

.app-description h3:first-of-type {
    font-size: 1.4em;
}

.app-description h3 span {
    font-weight: 700;
    background: linear-gradient(90deg, rgb(221, 108, 255) 0%, rgb(65, 193, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team {
    position: relative;
    background: rgb(18, 36, 73);
    background: radial-gradient(circle, rgb(24, 46, 90) 0%, rgb(4, 10, 27) 75%);
    
    width: 100vw;
    max-width: 100vw;
    height: fit-content;
    padding-top: 4em;
    padding-bottom: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    overflow: hidden;
}

.team .topwave {
    z-index: 100;
    height: 10em;
    width: 100%;
    position: absolute;
    top: 0;
}

.team h1{
    margin-bottom: 2em;
}

.team h1, .team h3 {
    color: white;
}

.devs {
    max-width: 1000px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.devs section {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.devs section div{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 14px 3px #ffffff23;
}
.devs section div img{
   width: 100%;
}



footer {
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #00000021;
    display: flex;
    align-items: center;
}

footer a {
    text-decoration-color: grey;
    margin-left: 1em;
}

footer a h5 {
    margin: 0;
    color: grey;
}

footer a:first-of-type {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .app-description {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .app-description h3 {
        padding: 1em;
        font-size: 1em;
    }
    .app-description h3:first-of-type {
        font-size: 1em;
    }
    .app-description svg:first-child {
        height: 5em;
    }
    .app-description svg:last-child {
        height: 5em;
    }
    .devs {
        flex-direction: column;
        align-items: center;
    }
    .team h1{
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .devs section div{
        width: 6em;
        height: 6em;
     }
     footer {
         flex-direction: column;
     }
}