.mockupshow img {
    width: 45%;
    max-width: 400px;
    z-index: 300;
}


.mockupshow {
    max-width: 950px;
    display: flex;
    align-items: center;
    padding: 5em;
    justify-content: space-around;
}

.mockupshow h1 {
    font-size: 2em;
}

.mockupshow:nth-of-type(1) h1 span {
    background: linear-gradient(90deg, rgb(221, 108, 255) 0%, rgb(252, 161, 65) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mockupshow:nth-of-type(2) h1 span {
    background: linear-gradient(90deg, rgb(103, 11, 131) 0%, rgb(65, 115, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
