* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}


main {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.downarrows {
    background-color: cyan;
    width: 5em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

